@model IEnumerable<Hmt.Models.Category>

@{
    ViewBag.Title = "Category List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h1 class="text-center" style="margin-top:50px">Categories</h1>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top:80px">
        <div class="col-auto">



            @*class="btn btn-primary" style="text-decoration:none;color:white"*@
            @*<a class="btn btn-primary" href="@Url.Action("UserAdd","UserAdd")">Create</a>*@
            @*@Html.ActionLink("Create", "UserAdd", new { @class = "btn btn-danger" })*@
            <a style="margin-bottom:20px;" class="btn btn-info" href="@Url.Action("CategoryAdd","Admin")">Create</a>

            <table class="table table-responsive table-borderl">

                <tr style="background:#17a2b8;color:white">
                    <th>
                        Id   @*@Html.DisplayNameFor(model => model.cat_id)*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cat_name)
                    </th>
                    <th>
                        Action
                    </th>

                </tr>

                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.cat_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cat_name)
                            </td>

                            <td>
                                <p> @Html.ActionLink("Edit", "CategoryEdit", new { id = item.cat_id }, new { @class = "btn btn-success" })</p>

                                @*@Html.ActionLink("Edit", "UserEdit", new { id = item.emp_id }) |*@

                            </td>
                            <td>
                                @*<p>@Html.ActionLink("Delete", "CategoryDelete", new { id = item.cat_id }, new { @class = "btn btn-danger" })</p>*@
                                @*@Html.ActionLink("Delete", "UserDelete", new { id = item.emp_id })*@
                            </td>



                        </tr>
                    }
                }
                else
                {
                        <tr>
                            <td colspan="4" class="text-center"><b>No Data Available . Please Add Data By CLick On Create Button</b></td>
                        </tr>
                }




            </table>
        </div>
    </div>
</div>
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/adminpanel.css" rel="stylesheet" />
<link href="~/Content/css/styles.css" rel="stylesheet" />
