@model Hmt.Models.Stationary
@{
    ViewBag.Title = "Edit Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h1 class="text-center" style="margin-top:50px;margin-bottom:50px">Edit Products</h1>
        </div>
    </div>



    <div class="row justify-content-center">

        <div class="col-md-8 col-lg-5">



            @using (Html.BeginForm("ProductEdit", "Admin", FormMethod.Post))
            {
                <table class="table table-borderless">



                    <tr>
                        <td class="text-left" style="width:100px">
                            @Html.DisplayNameFor(model => model.pro_id)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.pro_id, null, new { @class = "form-control", @readonly = "readonly" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left" style="width:100px">
                            @Html.DisplayNameFor(model => model.pro_name)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.pro_name, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.pro_name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.pro_description)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.pro_description, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.pro_description, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.pro_price)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.pro_price, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.pro_price, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.pro_image)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.pro_image, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.pro_image, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.pro_stock)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.pro_stock, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.pro_stock, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.cat_id)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.cat_id, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.cat_id, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Save Changes" class="btn btn-success" />
                            <a class="btn btn-info" href="@Url.Action("ProductList","Admin")">Back to list</a>

                        </td>
                    </tr>
                </table>

            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/adminpanel.css" rel="stylesheet" />
<link href="~/Content/css/styles.css" rel="stylesheet" />

