@model IEnumerable<Hmt.Models.Employee>

@{
    ViewBag.Title = "UsersInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h1 class="text-center" style="margin-top:50px">Users Info</h1>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top:80px">
        <div class="col-auto">



            @*class="btn btn-primary" style="text-decoration:none;color:white"*@
            @*<a class="btn btn-primary" href="@Url.Action("UserAdd","UserAdd")">Create</a>*@
            @*@Html.ActionLink("Create", "UserAdd", new { @class = "btn btn-danger" })*@
            <a style="margin-bottom:20px;" class="btn btn-info" href="@Url.Action("UserAdd","Admin")">Create</a>


            <table class="table table-responsive table-bordered">

                <tr style="background:#17a2b8;color:white">
                    <th>
                        First Name    @*@Html.DisplayNameFor(model => model.emp_fname)*@
                    </th>
                    <th>
                        Last Name   @*@Html.DisplayNameFor(model => model.emp_lname)*@
                    </th>
                    <th>
                        Username   @*@Html.DisplayNameFor(model => model.emp_username)*@
                    </th>
                    <th>
                        Password   @*@Html.DisplayNameFor(model => model.emp_password)*@
                    </th>
                    <th>
                        Designation   @*@Html.DisplayNameFor(model => model.emp_designation)*@
                    </th>
                    <th>
                        Email   @*@Html.DisplayNameFor(model => model.emp_email)*@
                    </th>
                    <th>
                        City    @*@Html.DisplayNameFor(model => model.emp_city)*@
                    </th>
                    <th>
                        Country    @*@Html.DisplayNameFor(model => model.emp_country)*@
                    </th>
                    <th>
                        Gender    @*@Html.DisplayNameFor(model => model.emp_gender)*@
                    </th>
                    <th>
                        Qualification   @*@Html.DisplayNameFor(model => model.emp_qualification)*@
                    </th>
                    <th colspan="2" class="text-center">
                        Action
                    </th>


                </tr>


                @if (Model != null && Model.Count() > 0)
                {



                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_fname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_lname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_designation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_city)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emp_qualification)
                            </td>
                            <td>
                                <p> @Html.ActionLink("Edit", "UserEdit", new { id = item.emp_id }, new { @class = "btn btn-success" })</p>

                                @*@Html.ActionLink("Edit", "UserEdit", new { id = item.emp_id }) |*@

                            </td>
                                @*<p>@Html.ActionLink("Delete", "UserDelete", new { id = item.emp_id }, new { @class = "btn btn-danger" })</p>*@
                                @*@Html.ActionLink("Delete", "UserDelete", new { id = item.emp_id })*@

                        </tr>
                    }
                }

                else
                {
                    <tr>
                        <td colspan="6" class=" pt-5">No Data Available . Please Add Data By CLick On Create Button</td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/adminpanel.css" rel="stylesheet" />
<link href="~/Content/css/styles.css" rel="stylesheet" />
