@model Hmt.Models.Employee
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h1 class="text-center" style="margin-top:50px;margin-bottom:50px">Edit User Info</h1>
        </div>
    </div>



    <div class="row justify-content-center">

        <div class="col-md-8 col-lg-5">



            @using (Html.BeginForm("UserEdit", "Admin", FormMethod.Post))
            {
                <table class="table table-borderless">



                    <tr>
                        <td class="text-left" style="width:100px">
                            @Html.DisplayNameFor(model => model.emp_fname)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.emp_fname, null, new { @class = "form-control", autocomplete = "off", required = "required" })
                            @Html.ValidationMessageFor(model => model.emp_fname, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.emp_lname)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.emp_lname, null, new { @class = "form-control", autocomplete = "off"})
                            @Html.ValidationMessageFor(model => model.emp_lname, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.emp_username)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.emp_username, null, new { @class = "form-control", autocomplete = "off", required = "required" })
                            @Html.ValidationMessageFor(model => model.emp_username, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.emp_password)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.emp_password, null, new { @class = "form-control", autocomplete = "off", required = "required" })
                            @Html.ValidationMessageFor(model => model.emp_password, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.emp_designation)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.emp_designation, null, new { @class = "form-control", autocomplete = "off", required = "required" })
                            @Html.ValidationMessageFor(model => model.emp_designation, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.emp_email)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.emp_email, null, new { @class = "form-control", autocomplete = "off", required = "required" })
                            @Html.ValidationMessageFor(model => model.emp_email, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.emp_city)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.emp_city, null, new { @class = "form-control", autocomplete = "off", required = "required" })
                            @Html.ValidationMessageFor(model => model.emp_city, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.emp_country)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.emp_country, null, new { @class = "form-control", autocomplete = "off", required = "required" })
                            @Html.ValidationMessageFor(model => model.emp_country, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.emp_gender)
                        </td>
                        <td>
                            @*@Html.TextBoxFor(a => a.emp_gender, null, new { @class = "form-control" })*@
                            @Html.DropDownListFor(a => a.emp_gender, new List<SelectListItem >
                                 {
                             new SelectListItem() {Text = "Male", Value="Male"},
                             new SelectListItem() {Text = "Female", Value="Female"},

                                 }, new { style = "width: 100%;height:40px" });
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            @Html.DisplayNameFor(model => model.emp_qualification)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.emp_qualification, null, new { @class = "form-control", autocomplete = "off", required = "required" })
                            @Html.ValidationMessageFor(model => model.emp_qualification, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Save Changes" class="btn btn-success" />
                            <a class="btn btn-info" href="@Url.Action("UsersInfo","Admin")">Back to list</a>

                        </td>
                    </tr>
                </table>

            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/adminpanel.css" rel="stylesheet" />
<link href="~/Content/css/styles.css" rel="stylesheet" />
